body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f002e;
  color: #ffd200;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  background-color: #310046;
  color: #ffd200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 3px solid #ffd200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 45px;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 60px;
}

.carousel {
  max-width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide img {
  width: 50%;
  object-fit: contain;
  border-left: 5px solid #310046;
  border-right: 5px solid #310046;
}

.divcarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.couplePhoto {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.imgcarousel {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 50vh;
}

.footer {
  background-color: #310046;
  color: #ffd200;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #ffd200;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration:none;
  color: #ffd000;
  text-decoration: underline;
}